* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 50px 150px;
}

.text-h1 {
  font-weight: 700;
  color: blue;
}

.paragraph-h1 {
  text-align: justify;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.4;
}

@media (max-width: 900px) {
  .about-me {
    margin: 40px 40px;
  }

  .paragraph-h1 {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .about-me {
    margin: 30px 20px;
    gap: 25px;
  }

  .text-h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  .paragraph-h1 {
    font-size: 18px;
  }
}
