* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.careerMap {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 4px 4px 5px black;
  padding: 20px;
  gap: 30px;
  margin: 80px 110px;

  .text-mapCareer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 55px;
  }

  .position {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .info-job {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 600px;
    }

    .softs {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      flex-direction: column;
      border: 1px solid blue;
      border-radius: 20px;
      padding: 15px;
      gap: 20px;

      .h3-softs {
        color: blue;
      }
    }

    .roadmap {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .doubles {
        display: flex;
        gap: 10px;
        justify-content: space-between;

        .first {
          padding: 10px;
          border: 2px solid brown;
          border-radius: 10px;
        }

        .second {
          padding: 10px;
          border: 2px solid brown;
          border-radius: 10px;
        }
      }

      .text-h3-roadmap {
        color: brown;
      }
    }

    .roadmap {
      .first:hover {
        padding: 10px;
        border: 3px solid gold;
        border-radius: 10px;
      }

      .second:hover {
        padding: 10px;
        border: 3px solid gold;
        border-radius: 10px;
      }
    }
  }
}
